.container {
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    color: #333;
    font-size: 45px;
  }
  
  .error {
    color: red;
  }
  
  .button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  
  .selectedFile {
    margin-top: 20px;
  }
  